<footer>
  <!-- Footer main -->
  <section class="ft-main">
    <div class="ft-main-item">
      <h2 class="ft-title">About</h2>
      <ul>
        <li><a href="/product">Services</a></li>
        <li><a href="/product">Portfolio</a></li>
        <!-- <li><a href="#">Pricing</a></li> -->
        <!-- <li><a href="#">Customers</a></li> -->
        <!-- <li><a href="#">Careers</a></li> -->
      </ul>
    </div>
    <div class="ft-main-item">
      <h2 class="ft-title">Resources</h2>
      <ul>
        <li><a href="/home">Docs</a></li>
        <li><a href="/home">Blog</a></li>
        <!-- <li><a href="/home">eBooks</a></li> -->
        <!-- <li><a href="/home">Webinars</a></li> -->
      </ul>
    </div>
    <div class="ft-main-item">
      <h2 class="ft-title">Contact</h2>
      <ul>
        <li><a href="https://www.linkedin.com/company/70086031/">Help</a></li>
        <li><a href="https://www.linkedin.com/company/70086031/">Sales</a></li>
        <li><a href="https://www.linkedin.com/company/70086031/">Advertise</a></li>
      </ul>
    </div>
    <div class="ft-main-item">
      <h2 class="ft-title">Stay Updated</h2>
      <p>Subscribe to our newsletter to get our latest news.</p>
      <form>
        <input type="email" name="email" placeholder="Enter email address">
        <input type="submit" value="Subscribe">
      </form>
    </div>
  </section>



  <!-- Footer social -->
  <section class="ft-social">
    <ul class="ft-social-list">
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
      <a href="#"><i class="fab fa-youtube"></i></a>
    </ul>
  </section>
 
  <!-- Footer legal -->
  <section class="ft-legal">
    <ul class="ft-legal-list">
      <li><a href="#">Terms &amp; Conditions</a></li>
      <li><a href="#">Privacy Policy</a></li>
      <li>&copy; 2021 Copyright Dataoct Technologies.</li>
    </ul>
  </section>
</footer>
