<div
  class="banner-innerpage" 
  style="background-image: url(assets/images/background/login-register.jpg)"
>
<div class="container">
  <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
    <h1 class="h3 mb-3 font-weight-normal">Please Sign in</h1>
    <div class="form-group">
      <label for="inputUsername" class="sr-only">Username</label>
      <input type="text" id="inputUsername" [formControlName]="'username'" class="form-control" placeholder="Username" required="" autofocus="">
    </div>
    <div class="form-group">
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" [formControlName]="'password'" class="form-control" placeholder="Password" required="">
    </div>
    <button class="btn btn-lg btn-success" type="submit">Sign in</button>
    <br><br><br><br>
    
    <hr>
    <button class="btn btn-success btn-block">
      <a href="/register" class="btn-success btn-block">Create Your Registration</a>
    </button>


  </form>
</div>
<br><br><br><br><br><br><br><br><br><br><br>

</div>
