<div class="container">
  <br><br><br><br><br><br>
  <h5>
    Hey,<br><br>
    Thanks for signing up to Dataoct Technologies.<br>
    Your registration is now confirmed.<br><br>

    <a href="/login">
      <button  type="button" class="btn btn-success">
        Login
      </button>
    </a>
    <br><br>

    Thanks,<br>
    Dataoct Technologies
    <br><br> 
  

  </h5>
  <h6 style="color: black;">
    If you ever have any questions,<br> 
    please don't hesitate to contact our team at info@dataoct.com<br><br>
  </h6>

</div>


