<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-8">
        <br><br><br>
        
        <h1 class="blog-title">
          <p>{{post.title}}</p>
        </h1>

        <span ng-non-bindable>
          <p>Subject : {{post.subject}}</p>
          <p>By : {{post.username}} 
            <!-- , Created On : {{post.created_on | date:'mediumDate' }}  -->
          </p>
        </span>
        
        <hr>
        <p [innerHTML]="post.content"></p>
        <hr>
      </div>
    </div>

  </div>
</div>
