<div
class="banner-innerpage" 
  style="background-image: url(assets/images/landingpage/banner-bg2.jpg)"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 no-trans align-self-center text-center">
        <h1 class="title">Portfolio and Products</h1>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>


<!-- ============================================================== -->
<!-- Feature 1  -->
<!-- ============================================================== -->
<div class="bg-light spacer feature1">
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <div class="col-md-12 text-center no-trans">
        <h2 class="title">Our Services</h2>
        <h6 class="subtitle">
          We provide End-to-end solutions for planning, developing, implementing and supporting your e-business strategy. 
          Leverage the power of Internet coupled with high security, ease of access, low infrastructure requirements, 
          short development cycle, scalability and high adaptability. 
          We will be your technology partners in taking your enterprise to high levels of efficiency, 
          interactivity, external and internal customer satisfaction,
          better resource management, convergence of mediums and devices and the list goes on.
        </h6>
      </div>
    </div>
    <app-relay-on></app-relay-on>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Feature 1  -->
<!-- ============================================================== -->


<!-- ============================================================== -->
<!-- Feature 22  -->
<!-- ============================================================== -->
<div class="spacer feature22">
  <div class="container">
      <!-- Row  -->
      <div class="row justify-content-center">
        <div class="col-md-12 text-center no-trans">
          <h2 class="title">Our Work</h2>
          <h6 class="subtitle">
              We manage and promote the perfect online presence for small business to medium business companies with our web development team. We evaluate your needs and tailor the solution that suits your strategy. The expertise of our design team and the span of our technical resources, 
              places us at the cutting edge of new developments in site construction     
          </h6>
        </div>
      </div>
      <br><br>
      <hr>
    <app-top-content></app-top-content>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Feature 22  -->
<!-- ============================================================== -->


<!-- ============================================================== -->
<!-- Call to action -->
<!-- ============================================================== -->
<div class="spacer">
  <div class="container">
    <div class="row justify-content-center m-b-30">
      <div class="col-md-13 text-center no-trans">
        <h2 class="title">
          About Us
        </h2>
        <h6 class="subtitle">
          DATAOCT Technologies is a global technology service and outsourcing provider that is committed to helping customers align technology innovation with business strategy. 
          With a reach across six continents, DATAOCT a leading global professional services company provides a range of services and solutions in 
          strategy, consulting, digital, technology, automation & operations.
        </h6>
      <!--  button       
        <a
          class="btn btn-info-gradiant btn-md btn-arrow m-t-20"
          data-toggle="collapse"
          href="#"
        >
          <span>
            View Details<i class="ti-arrow-right"></i>
          </span>
        </a> 
      -->

      </div>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Call to action -->
<!-- ============================================================== -->
<br>