<!-- Project 1 -->
<div class="row wrap-feature-22">
  <!-- Column -->
  <div class="col-lg-6" data-aos="flip-up" data-aos-duration="1200">
    <!-- <img [src]="imagePath" class="rounded img-responsive" alt="wrapkit" /> -->
  </div>
  <!-- Column -->
  <div class="col-lg-6 no-trans">
    <div class="text-box">
      <small class="text-info font-medium"><h3>Project : Artbeats Creation</h3></small>
      <h4 class="font-light">Technology :  Spring Boot, Rest API's, Angular, JPA, Spring security, Swagger, MySql.
      </h4>
      <p>
        Artbeats Creation.. Here You can get ideas for making Scrap book and Greeting cards for your special one...
        Show your feelings by making a Scrap book and Greetings card for your lovable person.
      </p>
      <!-- View Site Updating href="#" and remove routerLink="#" -->
      <a
        class="btn btn-info-gradiant btn-md btn-arrow m-t-20"
        data-toggle="collapse"
        routerLink="#"
        href="#"
      >
        <span>View Site
          <i class="ti-arrow-right"></i>
        </span>
      </a>
    </div>
  </div>
  <!-- Column -->
</div>
<hr>

<!-- Project 2 -->
<div class="row wrap-feature-22">
  <!-- Column -->
  <div class="col-lg-6" data-aos="flip-up" data-aos-duration="1200">
    <!-- <img [src]="imagePath" class="rounded img-responsive" alt="wrapkit" /> -->
  </div>
  <!-- Column -->
  <div class="col-lg-6 no-trans">
    <div class="text-box">
      <small class="text-info font-medium"><h3>Project : Dataoct Shopping Mart</h3></small>
      <h4 class="font-light">Technology :  Spring Boot, Rest API's, Angular 11, JPA, Spring security, Swagger, PosgresSQL, AWS.
      </h4>
      <p>
        DATAOCT SHOPPING MART..  site in India-Shop Online for men, women and kids fashion. 
        Online store for tops, casual shirts, kurtas, coordinated sets, frocks, dresses.
      </p>
      <a
        class="btn btn-info-gradiant btn-md btn-arrow m-t-20"
        data-toggle="collapse"
        routerLink="#"
        href="#"
      >
        <span
          >View Site
          <i class="ti-arrow-right"></i>
        </span>
      </a>
    </div>
  </div>
  <!-- Column -->
</div>
<hr>

<!-- Project 3 -->
<div class="row wrap-feature-22">
  <!-- Column -->
  <div class="col-lg-6" data-aos="flip-up" data-aos-duration="1200">
    <!-- <img [src]="imagePath" class="rounded img-responsive" alt="wrapkit" /> -->
  </div>
  <!-- Column -->
  <div class="col-lg-6 no-trans">
    <div class="text-box">
      <small class="text-info font-medium"><h3>Project : Abu Dhabi Airlines</h3></small>
      <h4 class="font-light">Technology :  Spring Boot, Rest API's, Angular 11, JPA, Spring security, Swagger, PosgresSQL, AWS, Azure.
      </h4>
      <p>
      </p>
      <a
        class="btn btn-info-gradiant btn-md btn-arrow m-t-20"
        data-toggle="collapse"
        routerLink="#"
        href="#"
      >
        <span
          >View Site
          <i class="ti-arrow-right"></i>
        </span>
      </a>
    </div>
  </div>
  <!-- Column -->
</div>
<hr>